﻿@model EHOKU.Controllers.ROLA

@{
    ViewBag.Title = "Create";
    Layout = null;
}

@*<h2>Create</h2>*@

@using (Html.BeginForm("Create", "Rola", FormMethod.Post, new { @class = "form-horizontal" }))
{
@*@using (Html.BeginForm()) 
{*@
    @Html.AntiForgeryToken()

    <div class="row">
        @*<h4>ROLA</h4>*@
        @*<hr />*@
        <br>
        <br>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                @Html.LabelFor(model => model.ID_ROLA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ID_ROLA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ID_ROLA, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group">
            <label class="col-md-3 control-label">Privilegija:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.OPIS, new { htmlAttributes = new { @class = "form-control", placeholder = "Privilegija" } })
                @Html.ValidationMessageFor(model => model.OPIS, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Napomena:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.NAPOMENA, new { htmlAttributes = new { @class = "form-control", placeholder = "Napomena privilegije" } })
                @Html.ValidationMessageFor(model => model.NAPOMENA, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <br>
                <input type="submit" value="Izradi privilegiju" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
