﻿@model EHOKU.Controllers.ROLA

@{
    ViewBag.Title = "Details";
    Layout = null;
}



<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OPIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAPOMENA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAPOMENA)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ROLA }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
