﻿@model EHOKU.Controllers.ROLA

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

@*<h2>Edit</h2>*@


@using (Html.BeginForm("Edit", "Rola", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_ROLA)

        <div class="form-group">
            <label class="col-md-3 control-label">Opis:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.OPIS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OPIS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Napomena:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.NAPOMENA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NAPOMENA, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Spremi promjene" class="btn btn-success btn-block" />
            </div>
        </div>
        <br />
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
