﻿@model IEnumerable<EHOKU.Controllers.ROLA>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<br>
<br>
<br>
<br>
<br>
<br>
<p>
    @*<a href="@Url.Action("Create", "Rola")" class="btn btn-success">
        Unos nove privilegije
    </a>*@
    <button class="btn btn-default btn-block btn-lg" onclick="create()">Unos nove privilegije</button>
</p>

<br>

<script>
    function create() {


        $.ajax({

            url: '/Rola/Create' ,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }



    function edit(id) {


        $.ajax({

            url: '/Rola/Edit/' + id,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }

    function del(id) {


        $.ajax({

            url: '/Rola/Delete/' + id,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }

    function details(id) {


        $.ajax({

            url: '/Rola/Details/' + id,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }
</script>


        <div class="well">
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OPIS)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NAPOMENA)
                            </th>
                        </tr>
                    </thead>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OPIS)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NAPOMENA)
                                </td>
                                <td>
                                    <button class="btn btn-default btn-xs" onclick=@string.Format("edit({0})", item.ID_ROLA)>Uredi</button>
                                    <button class="btn btn-default btn-xs" onclick=@string.Format("details({0})", item.ID_ROLA)>Detalji</button>
                                    <button class="btn btn-default btn-xs" onclick=@string.Format("del({0})", item.ID_ROLA)>Brisanje</button>

                                    @*@Html.ActionLink("Edit", "Edit", new { id=item.ID_ROLA }) |
                        @Html.ActionLink("Details", "Details", new { id=item.ID_ROLA }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.ID_ROLA })*@
                                </td>
                            </tr>
                        }


                </table>
            </div>
        </div>
    





        <!-- Modal -->
        <div id="myModal" class="modal fade modal-wide" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Privilegije</h4>
                    </div>
                    <div class="modal-body">

                        @*@{Html.RenderAction("Create", "VrstaSpisa");}*@
                        <div id="modalWrapper"></div>

                    </div>

                    @*<div class="modal-footer">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                                <div>
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            </div>
                        </div>*@
                </div>

            </div>
        </div>

<style>
    .well {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
</style>