﻿@*@model IEnumerable<EHOKU.Controllers.POSAO>*@
@model EHOKU.Models.dashboard

@using EHOKU.Models;

@{
    ViewBag.Title = "Home Page";
}

<style>

.hoverDiv {background: #fff;}

.hoverDiv:hover {background: #f5f5f5;}

.vrijeme_pozadina {
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 3px 6px rgba(0,0,0,.08);
	}
	
.vrijeme_kutija {
    max-width: 400px;
    min-height: 300px;
}

.vrijeme_kutija2 {
    /*max-width: 400px;*/
    min-height: 150px;
}

.vrijeme_demo {
    margin: 0 auto 4.5em;
    padding: 3em;
    border: 1px solid rgba(20,53,80,0.14);
}

.vrijeme {
    background-color: #fff;
}
.vrijeme_dod {
    /*margin: 0 auto 4.5em;*/
    /*padding: 3em;*/
    border: 1px solid rgba(20,53,80,0.14);
}


.col {
  flex: 1; /* additionally, equal width */
  padding: 1em;
}
</style>
<br>

    @if (Osoba.Currentuser.ROLA == "2")
    {<br>
        <br>
        <br>
        <p>
            <button class="btn btn-default btn-lg btn-block center-block" onclick="create()">Objava novog posla</button>
        </p>
    }
        
<br>
<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col col-lg-3 vrijeme_pozadina vrijeme_dod hoverDiv">
            <h2 class="text-success" style="margin-left: 25px"><span data-bind="text:name"></span></h2>
            <h5 class="text-muted" style="margin-left: 25px"><span data-bind="text:weather().description"></span></h5>
            <h5 class="text-muted" style="margin-left: 25px"> @DateTime.Now.Date.ToShortDateString()</h5 >
            <hr>
            <h1 class="text-muted" style="margin-left: 50px"><span data-bind="text:main.temp"></span>&deg;</h1>
            <br>
            <br>
            <h5 class="text-right text-muted"" style="margin-right: 25px"> Vlažnost zraka <span data-bind="text:main.humidity"></span> %</h5>
            <h5 class="text-right text-muted"" style="margin-right: 25px"> Brzina vjetra <span data-bind="text:wind.speed"></span> km/h</h5>
            @*<h4 align="center"> <span data-bind="text:weather[0].icon"></span></h4>*@
            <br>
        </div>
@*@if (Osoba.Currentuser.ROLA == "1" || Osoba.Currentuser.ROLA == "2")
{*@
        <div class="col col-lg-8 col-lg-offset-1 vrijeme_pozadina vrijeme_dod vrijeme_kutija2 hoverDiv">
            <h2 class="text-success" style="margin-left: 25px">Statistika poslova</h2>
            <h5 class="text-muted" style="margin-left: 25px">Statistika pokazuje ukupan broj poslova po statusu</h5>
            <hr>
            <h2 class="text-muted" align="center">Ukupan broj poslova: @Model.broj1 </h2>
            <h3 class="text-success" style="margin-left: 100px">Ukupan broj otvorenih poslova: @Model.broj2 </h3>
            <h3 class="text-success" style="margin-left: 100px">Ukupan broj poslova u tijeku: @Model.broj3 </h3>
            <h3 class="text-success" style="margin-left: 100px">Ukupan broj zatvorenih poslova: @Model.broj4 </h3>
            <br>
        </div>
    </div>
    <br>
    <br>
    <br>

@*@if (Osoba.Currentuser.ROLA == "1" || Osoba.Currentuser.ROLA == "2")
{*@
    <div class="row">
        <div class="col col-lg-12 vrijeme_pozadina vrijeme_dod vrijeme_kutija2 hoverDiv">
            <h2 class="text-success" style="margin-left: 25px">Statistika radnika</h2>
            <h5 class="text-muted" style="margin-left: 25px">Statistika pokazuje radnike sortirane po ocjenama posla</h5>
        
 
            <div class="table-responsive-vertical shadow-z-1">
                <table id="table" class="table table-hover table-mc-light-blue table-hover">
                    <thead>
                        <tr>
                            <th>
                                Radnik
                            </th>
                            <th>
                                Opis radnika
                            </th>
                            <th>
                                Ukupno završenih poslova
                            </th>
                            <th>
                                Ukupno zarađena svota
                            </th>
                            <th>
                                Ukupna ocjena (1 - 5)
                            </th>
                        </tr>
                    </thead>

                    @foreach (var item in Model.lista)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ime) @Html.DisplayFor(modelItem => item.Prezime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Opis)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ZavrsenihPoslova)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Zaradeno) Kuna
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ocjena)
                            </td>
                        </tr>
                    }


                </table>
            </div>

        </div>
    </div>

</div>
<br>
<br>









<br>
<br>


<script>
    var weather = Object();
    $(document).ready(function () {
            $.get("@Url.Action("GetWeather", "Home")", function (response) {
                //response
                console.log(response);
                weather = ko.mapping.fromJS(response);  //populate the weather object
                ko.applyBindings(weather);

            });
    });

</script>




<script>
    function create() {


        $.ajax({

            url: '/Posao/Create' ,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }
</script>

<div id="myModal" class="modal fade" role="form">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Posao</h4>
            </div>
            <div class="modal-body">

                @*@{Html.RenderAction("Create", "VrstaSpisa");}*@
                <div id="modalWrapper"></div>

            </div>

            @*<div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div> proba
                </div>*@
        </div>

    </div>
</div>



@*<p id="name"></p>
    <p id="temp"></p>
    <p id="humidity"></p>
    <p id="wind"></p>
    <p id="wind"></p>
    <p id="icon"></p>

    <img src="@Url.Content("http://openweathermap.org/img/w/01d.png")" />


    <button>Pokaži</button>

    <script>
        $(document).ready(function(){
            $("button").click(function(){
                $.get("http://api.openweathermap.org/data/2.5/weather?q=Kastav&APPID=b629ca0c68cebb27d4c2f2b42849761e&units=metric", function (response) {
                    console.log(response);
                    $("#name").text(response.name);
                    $("#temp").text(response.main.temp);
                    $("#humidity").text(response.main.humidity);
                    $("#wind").text(response.wind.speed);
                    $("#icon").text(response.weather[0].description);
                    $("#icon").text(response.weather[0].icon);

                });
            });
        });
    </script>*@

















<br>
<br>
<center>
    @*<strong>Powered by <a href="http://www.google.com" target="_blank">eHO-KU, kortikultura</a></strong>*@
</center>
<br>
<br>