﻿@model EHOKU.Controllers.OSOBA
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

@{
    ViewBag.Title = "Login";
    Layout = null;
}


<style>
    @@import url(https://fonts.googleapis.com/css?family=Roboto:300);

    .login-page {
        width: 100%;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 100%;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

    input {
        width: 100%;
        max-width: 400px;
    }

    .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }

        .form button:hover, .form button:active, .form button:focus {
            background: #43A047;
        }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
    }

        .form .message a {
            color: #4CAF50;
            text-decoration: none;
        }

    .form .register-form {
        display: none;
    }

    .container {
        position: relative;
        z-index: 1;
        max-width: 400px;
        margin: 0 auto;
    }

        .container:before, .container:after {
            content: "";
            display: block;
            clear: both;
        }

        .container .info {
            margin: 50px auto;
            text-align: center;
        }

            .container .info h1 {
                margin: 0 0 15px;
                padding: 0;
                font-size: 36px;
                font-weight: 300;
                color: #1a1a1a;
            }

            .container .info span {
                color: #4d4d4d;
                font-size: 12px;
            }

                .container .info span a {
                    color: #000000;
                    text-decoration: none;
                }

                .container .info span .fa {
                    color: #EF3B3A;
                }

    body {
        height: 100%;
        background: #3c89e7; /* fallback for old browsers */
        background: -webkit-linear-gradient( #a4d1a5, #FFFFFF);
        background: -moz-linear-gradient( #a4d1a5, #FFFFFF);
        background: -o-linear-gradient( #a4d1a5, #FFFFFF);
        background: linear-gradient(#a4d1a5, #FFFFFF);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .well {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);

</style>




@using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (ViewBag.Massage != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Massage
        </div>
    }


    @*<div class="row">
        <div class="form-group">
            <label class="col-md-3 control-label">Ime:</label>
            <div class="col-md-6">
                @Html.EditorFor(a => a.IME, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Korisničko ime" } })
                @Html.ValidationMessageFor(a => a.IME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">OIB:</label>
            <div class="col-md-6">
                @Html.EditorFor(a => a.OIB, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Osobni Identifikacijski Broj" }})
                @Html.ValidationMessageFor(a => a.OIB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <br>
                <input type="submit" value="Login" class="btn btn-success btn-block" />
            </div>
        </div>


    </div>*@

}
    
<div class="container">

    <div class="well">
        <div class="form-login">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                if (ViewBag.Massage != null)
                {
                    <div style="border:1px solid red">
                        @ViewBag.Massage
                    </div>
                }

                <h4 style="text-align: center;">Prijava u sustav eHO-KU</h4>
                @*<img class="img-responsive center-block" src="~/Content/images/flower.png" width="50" height="50" alt="" />*@
                    
                <hr/>
                            <div class="form-group">
                            @*<label class="col-md-3 control-label">Ime:</label>*@
                            <div class="col-md-12">
                                @Html.EditorFor(a => a.IME, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "Korisničko ime" } })
                                @Html.ValidationMessageFor(a => a.IME, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<input type="text" id="userName" class="form-control input-block-level" name="username" placeholder="username" />*@
                        <br />
                        <div class="form-group">
                            @*<label class="col-md-3 control-label">OIB:</label>*@
                            <div class="col-md-12">
                                @Html.EditorFor(a => a.OIB, new { htmlAttributes = new { @class = "form-control", type = "password", placeholder = "Osobni Identifikacijski Broj" } })
                                @Html.ValidationMessageFor(a => a.OIB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<input type="password" id="userPassword" class="form-control input-block-level" name="password" placeholder="password" />*@
                        <br />
                        <div class="wrapper">
                            <span class="group-btn">
                                <button type="submit" href="#" class="btn btn-success btn-md btn-block">Prijava</button>
                            </span>
                        </div>
            }
        </div>
    </div>

</div>






        @* Ova linija je za JS *@

        @section Scripts{
            @Scripts.Render("~/bundles/jqueryval")
        }
