﻿@model EHOKU.Controllers.STATUS_POSLA

@{
    ViewBag.Title = "Create";
    Layout = null;
}



@*@using (Html.BeginForm()) 
{*@
@using (Html.BeginForm("Create", "STATUS_POSLA", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    <div class="row">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            <label class="col-md-3 control-label">Status posla:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.ID_STATUS_POSLA, new { htmlAttributes = new { @class = "form-control", placeholder = "Status posla" } })
                @Html.ValidationMessageFor(model => model.ID_STATUS_POSLA, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <label class="col-md-3 control-label">Status posla:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.OPIS, new { htmlAttributes = new { @class = "form-control", placeholder = "Status posla" } })
                @Html.ValidationMessageFor(model => model.OPIS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Napomena:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.NAPOMENA, new { htmlAttributes = new { @class = "form-control", placeholder = "Dodatna napomena" } })
                @Html.ValidationMessageFor(model => model.NAPOMENA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <br>
                <input type="submit" value="Izradi status posla" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
