﻿@model EHOKU.Controllers.STATUS_POSLA

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<div>

    <dl class="dl-horizontal">
        <dt>
            Opis statusa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPIS)
        </dd>

        <dt>
            Napomena:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAPOMENA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-actions no-color col-md-offset-3 col-md-6">
            <input type="submit" value="Brisanje" class="btn btn-success btn-block" />
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
        <br />
        <br />
    }
</div>
