﻿@model EHOKU.Controllers.STATUS_POSLA

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div>

    <dl class="dl-horizontal">
        <dt>
            Opis:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPIS)
        </dd>

        <dt>
            Napomena:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAPOMENA)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_STATUS_POSLA }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
