﻿@model EHOKU.Controllers.STATUS_POSLA

@{
    ViewBag.Title = "Edit";
    Layout = null;
}



@*@using (Html.BeginForm())
{*@
@using (Html.BeginForm("Edit", "STATUS_POSLA", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_STATUS_POSLA)

        <div class="form-group">
            <label class="col-md-3 control-label">Opis statusa:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.OPIS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OPIS, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Napomena:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.NAPOMENA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NAPOMENA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <br>
                <input type="submit" value="Spremi promjene" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
