﻿@model EHOKU.Controllers.OSOBA

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

<div>
    <dl class="dl-horizontal">
        <dt>
            OIB:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIB)
        </dd>

        <dt>
            Ime:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IME)
        </dd>

        <dt>
            Prezime:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PREZIME)
        </dd>

        <dt>
            Privilegija:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROLA.OPIS)
        </dd>

        <dt>
            Spol:
        </dt>

        <dd>
            @if (Model.SPOL == "M")
            {
                @Html.Display("Muško");
            }
            else
            {
                @Html.Display("Žensko");
            }
        </dd>

        <dt>
            Kontakt broj:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KONTAKT_BROJ)
        </dd>

        <dt>
            E-mail:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <hr />
        <dt>
            Ulica:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ULICA)
        </dd>

        <dt>
            Naselje:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NASELJE)
        </dd>

        <dt>
            Mjesto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MJESTO)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                <input type="submit" value="Briši odabranu osobu" class="btn btn-default btn-block" />
            </div>
        </div>
        <br />
        <hr />
    }
</div>
