﻿@model EHOKU.Controllers.OSOBA

@{
    ViewBag.Title = "Details";
    Layout = null;
}


<div>

    <dl class="dl-horizontal">
        <dt>
            OIB:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIB)
        </dd>

        <dt>
            Ime:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IME)
        </dd>

        <dt>
            Prezime:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PREZIME)
        </dd>

        <dt>
            Privilegije:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROLA.OPIS)
        </dd>

        <dt>
            Spol:
        </dt>

        <dd>
            @if(Model.SPOL == "M")
            {
                @Html.DisplayName("Muško");
            }
            else
            {
                @Html.DisplayName("Žensko")
            }
        </dd>

        <dt>
            Kontakt broj:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KONTAKT_BROJ)
        </dd>

        <dt>
            E-mail:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <hr style="width: 100%; background-color: gray; height: 1px; border-color : transparent;" />
        
        <dt>
            Mjesto (Grad):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MJESTO)
        </dd>

        <dt>
            Ulica:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ULICA)
        </dd>

        <dt>
            Naselje:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NASELJE)
        </dd>

        <dt>
            Geografski položaj (Longitude):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LONGITUDE)
        </dd>

        <dt>
            Geografski položaj (Latitude):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LATITUDE)
        </dd>



    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_OSOBA }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
