﻿@model EHOKU.Controllers.OSOBA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OSOBA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OIB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PREZIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PREZIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPOL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPOL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KONTAKT_BROJ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KONTAKT_BROJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_ULICA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_ULICA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_NASELJE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_NASELJE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_MJESTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_MJESTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROLA.OPIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROLA.OPIS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_OSOBA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
