﻿@model EHOKU.Controllers.OSOBA

@{
    ViewBag.Title = "Edit";
    Layout = null;
}



@using (Html.BeginForm("Edit", "Osoba", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_OSOBA)

        <hr />
        <h5 align="center">Osnovni podaci</h5>
        <div class="form-group">
            <label class="col-md-3 control-label">OIB:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.OIB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OIB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Ime:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.IME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Prezime:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.PREZIME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PREZIME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Privilegija:</label>
            <div class="col-md-6">
                @Html.DropDownList("ID_ROLA", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_ROLA, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <h5 align="center">Dodatni podaci</h5>
        <div class="form-group">
            <label class="col-md-3 control-label">Spol:</label>
            <div class="col-md-6">
                @*@Html.EditorFor(model => model.SPOL, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.RadioButtonFor(model => model.SPOL, "M", false)@Html.Label("Muško")
                @Html.RadioButtonFor(model => model.SPOL, "Ž", false)@Html.Label("Žensko")
                @Html.ValidationMessageFor(model => model.SPOL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Kontakt broj:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.KONTAKT_BROJ, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KONTAKT_BROJ, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">E-mail:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <h5 align="center">Podaci o lokaciji osobe</h5>
        <div class="form-group">
            <label class="col-md-3 control-label">Ulica:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.ULICA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ULICA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Naselje:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.NASELJE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NASELJE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Mjesto:</label>
            <div class="col-md-6">
                @Html.EditorFor(model => model.MJESTO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MJESTO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <input type="submit" value="Spremi promjene" class="btn btn-success btn-block" />
            </div>
        </div>
        <br />
    </div>
}






@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
