﻿@model IEnumerable<EHOKU.Controllers.OSOBA>

@{
    ViewBag.Title = "Index";
}

@*<h2>Pregled osoba</h2>*@

<br>
<br>
<br>

<p>
    @*@Html.ActionLink("Dodaj novu osobu", "Create")*@

    <a href="@Url.Action("Create", "Osoba")" class="btn btn-success">
        Unos nove osobe
    </a>
    <button class="btn btn-success" onclick="create()">Unos nove osobe</button>
</p>

<script>
    function create() {


        $.ajax({

            url: '/Osoba/Create' ,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }



    function edit(id) {


        $.ajax({

            url: '/Osoba/Edit/' + id,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }
</script>



@*<table class="table  table-bordered table-hover table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OIB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IME)
            Ime
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PREZIME)
            Prezime
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPOL)
            Spol
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KONTAKT_BROJ)
            Kontakt (mob/tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
            e-mail
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_ULICA)
            Ulica
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_NASELJE)
            Naselje
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_MJESTO)
            Mjesto
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROLA.OPIS)
            Vrsta osobe
        </th>
        <th></th>
    </tr>
</table>*@


@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OIB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PREZIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPOL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KONTAKT_BROJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_ULICA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_NASELJE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_MJESTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROLA.OPIS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_OSOBA }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_OSOBA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_OSOBA })
        </td>
    </tr>
}
*@

<br>
<br>

<div class="container content">
    <div class="row">
        <!-- Pricing -->

@foreach (var item in Model)
{

        <div class="col-md-3">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>
                        @Html.DisplayFor(modelItem => item.PREZIME)  @Html.DisplayFor(modelItem => item.IME)
                         <span>
                             *****
                        </span>
                    </h3>
                    <h4>
                       <i> @Html.DisplayFor(modelItem => item.OIB)</i>
                        <span>
                            @Html.DisplayFor(modelItem => item.ROLA.OPIS)
                        </span>
                    </h4>
                </div>

                <ul class="pricing-content list-unstyled">
                    <li>
                        Kontakt: @Html.DisplayFor(modelItem => item.KONTAKT_BROJ)
                    </li>
                    <li>
                        E-mail: @Html.DisplayFor(modelItem => item.EMAIL)
                    </li>
                </ul>

                <div class="pricing-footer">
                    <p>
                       
                    </p>
                    <div>
                        <a href="@Url.Action("Edit", "Osoba", new { id = item.ID_OSOBA })" class="btn btn-default btn-block">
                           Uredi podatke
                        </a>
                    </div>
                    <div>
                        <a href="@Url.Action("Details", "Osoba", new { id = item.ID_OSOBA })" class="btn btn-default btn-block">
                           Pregledaj detalje
                        </a>
                        @*@Html.ActionLink("Details", "Details", new { id = item.ID_OSOBA })*@
                    </div>
                    <div>
                        <a href="@Url.Action("Delete", "Osoba", new { id = item.ID_OSOBA })" class="btn btn-default btn-block">
                           Obriši osobu
                        </a>
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.ID_OSOBA })*@
                    </div>
                </div>
            </div>
        </div>
}
        <!--//End Pricing -->
    </div>
</div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="form">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Osoba</h4>
            </div>
            <div class="modal-body">

                @*@{Html.RenderAction("Create", "VrstaSpisa");}*@
                <div id="modalWrapper"></div>

            </div>

            @*<div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div> proba
                </div>*@
        </div>

    </div>
</div>

<br>
<br>
<center>
    <strong>Powered by <a href="http://www.google.com" target="_blank">eHO-KU, kortikultura</a></strong>
</center>
<br>
<br>