﻿@model IEnumerable<EHOKU.Controllers.OSOBA>

@{
    ViewBag.Title = "Index";
}

@*<h2>Pregled osoba</h2>*@

<br>
<br>
<br>

<p>
    @*@Html.ActionLink("Dodaj novu osobu", "Create")*@

    @*<a href="@Url.Action("Create", "Osoba")" class="btn btn-success">
        Unos nove osobe
    </a>*@
    <button class="btn btn-default btn-lg btn-block"  onclick="createOsoba()">Unos nove osobe</button>
</p>

<script>
    function createOsoba() {


        $.ajax({

            url: '/Osoba/Create' ,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }



    function editOsoba(id) {


        $.ajax({

            url: '/Osoba/Edit/' + id,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }

    function deleteOsoba(id) {


        $.ajax({

            url: '/Osoba/Delete/' + id,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }

    function detailsOsoba(id) {


        $.ajax({

            url: '/Osoba/Details/' + id,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }
</script>

<br>
<br>

<div class="container-fluid okvir">
    <div class="row">
        <!-- Pricing -->

@foreach (var item in Model)
{

        <div class="col-md-3">
            <div class="pricing hover-effect">
                <div class="pricing-head">
                    <h3>
                        @Html.DisplayFor(modelItem => item.PREZIME)  @Html.DisplayFor(modelItem => item.IME)
                         <span>
                             *****
                        </span>
                    </h3>
                    <h4>
                       <i> @Html.DisplayFor(modelItem => item.OIB)</i>
                        <span>
                            @Html.DisplayFor(modelItem => item.ROLA.OPIS)
                        </span>
                    </h4>
                </div>

                <ul class="pricing-content list-unstyled">
                    <li>
                        Kontakt: @Html.DisplayFor(modelItem => item.KONTAKT_BROJ)
                    </li>
                    <li>
                        E-mail: @Html.DisplayFor(modelItem => item.EMAIL)
                    </li>
                </ul>

                <div class="pricing-footer">
                    <p>
                       
                    </p>
                    <div>
                        <button class="btn btn-default btn-block" onclick=@string.Format("editOsoba({0})", item.ID_OSOBA)>Uredi podatke</button>
                    </div>
                    <div>
                        <button class="btn btn-default btn-block" onclick=@string.Format("detailsOsoba({0})", item.ID_OSOBA)>Pregledaj detalje</button>
                    </div>
                    <div>
                        <button class="btn btn-default btn-block" onclick=@string.Format("deleteOsoba({0})", item.ID_OSOBA)>Obriši osobu</button>
                    </div>
                </div>
            </div>
        </div>
}
        <!--//End Pricing -->
    </div>
</div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="form">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Osoba</h4>
            </div>
            <div class="modal-body">

                @*@{Html.RenderAction("Create", "VrstaSpisa");}*@
                <div id="modalWrapper"></div>

            </div>

            @*<div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div> proba
                </div>*@
        </div>

    </div>
</div>

<br>
<br>
<center>
    <strong>Powered by <a href="http://www.google.com" target="_blank">eHO-KU, kortikultura</a></strong>
</center>
<br>
<br>

<style>
/***
Pricing table
***/
.pricing {
  position: relative;
  margin-bottom: 15px;
  border: 3px solid #eee;
}

.pricing-active {
  /*border: 3px solid #36d7ac;*/
  border: 3px solid #23b04b;
  margin-top: -10px;
  box-shadow: 7px 7px rgba(54, 215, 172, 0.2);
}

.pricing:hover {
  /*border: 3px solid #36d7ac;*/
  border: 3px solid #23b04b;
}

.pricing:hover h4 {
  /*color: #36d7ac;*/
  color: #23b04b;

}

.pricing-head {
  text-align: center;
}

.pricing-head h3,
.pricing-head h4 {
  margin: 0;
  line-height: normal;
}

.pricing-head h3 span,
.pricing-head h4 span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  font-style: italic;
}

.pricing-head h3 {
  font-weight: 300;
  color: #fafafa;
  padding: 12px 0;
  font-size: 27px;
  /*background: #36d7ac;*/
  background: #23b04b;
  border-bottom: solid 1px #41b91c;
}

.pricing-head h4 {
  color: #bac39f;
  padding: 5px 0;
  font-size: 54px;
  font-weight: 300;
  background: #ffffff;
  border-bottom: solid 1px #f5f9e7;
}

.pricing-head-active h4 {
  /*color: #36d7ac;*/
  color: #23b04b;
}

.pricing-head h4 i {
  top: -8px;
  font-size: 28px;
  font-style: normal;
  position: relative;
}

.pricing-head h4 span {
  top: -10px;
  font-size: 14px;
  font-style: normal;
  position: relative;
}

/*Pricing Content*/
.pricing-content li {
  color: #888;
  font-size: 12px;
  padding: 7px 15px;
  border-bottom: solid 1px #f5f9e7;
  background: #ffffff;
}

/*Pricing Footer*/
.pricing-footer {
  color: #777;
  font-size: 11px;
  line-height: 17px;
  text-align: center;
  padding: 1 20px 19px;
  background: #ffffff;
}

/*Priceing Active*/
.price-active,
.pricing:hover {
  z-index: 9;
}

.price-active h4 {
  /*color: #36d7ac;*/
  color: #23b04b;
}

.no-space-pricing .pricing:hover {
  transition: box-shadow 0.2s ease-in-out;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
  /*color: #36d7ac;*/
  color: #23b04b;
  padding: 15px 0;
  font-size: 80px;
  transition: color 0.5s ease-in-out;
}

.yellow-crusta.btn {
  color: #FFFFFF;
  background-color: #f3c200;
}
.yellow-crusta.btn:hover,
.yellow-crusta.btn:focus,
.yellow-crusta.btn:active,
.yellow-crusta.btn.active {
    color: #FFFFFF;
    background-color: #cfa500;
}

.okvir {
padding-left: 0px; 
padding-right: 0px
}


</style>