﻿@model EHOKU.Controllers.POSAO
@using EHOKU.Models;

@{
    ViewBag.Title = "Create";
    Layout = null;
}


@*@using (Html.BeginForm()) 
{*@

@using (Html.BeginForm("Create", "Posao", FormMethod.Post, new { @class = "form-horizontal" }))
{
@Html.AntiForgeryToken()
    
    @*<div class="form-horizontal">*@
    <div class="row">

        <div class="form-group">
            <label class="col-md-3 control-label">Vrsta posla:</label>
            <div class="col-md-6">                
                @Html.DropDownList("ID_TIP_POSLA", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "Odaberite vrstu posla")
                @Html.ValidationMessageFor(model => model.ID_TIP_POSLA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Klijent:</label>
            <div class="col-md-6 center-block text-center">
                @Html.DropDownList("ID_KLIJENT", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "Odaberite klijenta")
                @Html.ValidationMessageFor(model => model.ID_KLIJENT, "", new { @class = "text-danger" })
            </div>
        </div>
        
            @*<div class="form-group">
                <label class="col-md-3 control-label">Voditelj posla:</label>
                <div class="col-md-6 center-block text-center">
                    @Html.DropDownList("ID_VODITELJ", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "Odaberite voditelja posla")
                    @Html.ValidationMessageFor(model => model.ID_VODITELJ, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <label class="col-md-3 control-label">Radnik:</label>
            <div class="col-md-6 center-block text-center">   
                @Html.DropDownList("ID_RADNIK", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "Odaberite radnika ili ostavite prazno")
                @Html.ValidationMessageFor(model => model.ID_RADNIK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Rok izvedbe:</label>
            <div class="col-md-6 center-block text-center">
                @Html.EditorFor(model => model.ROK_IZVEDBE, new { htmlAttributes = new { @class = "form-control", id= "datetimepicker" } })
                @Html.ValidationMessageFor(model => model.ROK_IZVEDBE, "", new { @class = "text-danger", placeholder = "Unesite datum roka" })
            </div>
            <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker();
            });
            </script>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Ugovoreni iznos:</label>
            <div class="col-md-6 center-block text-center"> 
                @Html.EditorFor(model => model.IZNOS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IZNOS, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.NAPLACENO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NAPLACENO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NAPLACENO, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.ISPLACENO, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ISPLACENO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ISPLACENO, "", new { @class = "text-danger" })
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.OCJENA_OBJAVLJENOG_POSLA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OCJENA_OBJAVLJENOG_POSLA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OCJENA_OBJAVLJENOG_POSLA, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <label class="col-md-3 control-label">Opis posla:</label>
            <div class="col-md-6 center-block text-center">
                @Html.EditorFor(model => model.OPIS_POSLA, new { htmlAttributes = new { @class = "form-control", placeholder = "Opis posla" } })
                @Html.ValidationMessageFor(model => model.OPIS_POSLA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Prilog:</label>
            <div class="col-md-6 center-block text-center">
                @Html.EditorFor(model => model.PRILOG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PRILOG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <br>
                <input type="submit" value="Izradi posao" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
}


@*<script>
    $(document).ready(function () {
        $('#datetimepicker').datetimepicker({
            language: "HR"
        });
    });
</script>*@


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
