﻿@model EHOKU.Controllers.POSAO

@{
    ViewBag.Title = "Delete";
    Layout = null;
}

@*<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>*@
<div>
    @*<h4>POSAO</h4>
    <hr />*@
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.VRIJEME_POCETKA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VRIJEME_POCETKA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VRIJEME_ZAVRSETKA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VRIJEME_ZAVRSETKA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROK_IZVEDBE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROK_IZVEDBE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IZNOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IZNOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAPLACENO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAPLACENO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISPLACENO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISPLACENO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OCJENA_OBJAVLJENOG_POSLA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OCJENA_OBJAVLJENOG_POSLA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAPOMENA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAPOMENA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPIS_POSLA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPIS_POSLA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRILOG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRILOG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OSOBA.IME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OSOBA.IME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OSOBA1.IME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OSOBA1.IME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OSOBA2.IME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OSOBA2.IME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS_POSLA.OPIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_POSLA.OPIS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIP_POSLA.OPIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIP_POSLA.OPIS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
