﻿@model EHOKU.Controllers.POSAO

@{
    ViewBag.Title = "Details";
    Layout = null;
}



<div>
    <dl class="dl-horizontal">

        <dt>
            Tip posla:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIP_POSLA.OPIS)
        </dd>

        <dt>
            Status posla:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS_POSLA.OPIS)
        </dd>

        <dt>
            Datum objave posla:
        </dt>

        <dd>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.DATUM_OBJAVE))
        </dd>

        <dt>
            Rok izvedbe posla:
        </dt>

        <dd>
            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", Model.ROK_IZVEDBE))
        </dd>

        <dt>
            Iznos posla:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IZNOS) Kuna
        </dd>

        <dt>
           Napomena:
        </dt>
           
        <dd>
            @Html.DisplayFor(model => model.NAPOMENA)
        </dd>

        <dt>
            Opis posla:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPIS_POSLA)
        </dd>
      
        <dt>
            Voditelj:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OSOBA2.IME) @Html.DisplayFor(model => model.OSOBA2.PREZIME)
        </dd>

        <dt>
            Radnik:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OSOBA1.IME) @Html.DisplayFor(model => model.OSOBA1.PREZIME)
        </dd>
        <hr />
        <dt>
            Ime klijenta:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OSOBA.IME) @Html.DisplayFor(model => model.OSOBA.PREZIME)
        </dd>

        <dt>
            Adresa klijenta:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OSOBA.MJESTO) @Html.DisplayFor(model => model.OSOBA.ULICA)
        </dd>

        <dt>
            Geo - pozicija:
        </dt>

        <dd>
            Latitude: @Html.DisplayFor(model => model.OSOBA.LATITUDE) 
            Longitude: @Html.DisplayFor(model => model.OSOBA.LONGITUDE)
        </dd>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <br>
                <a class="btn btn-success btn-block" href=@("https://www.google.hr/maps/@" + Model.OSOBA.LONGITUDE+"," + Model.OSOBA.LATITUDE + ",19.75z") target="_blank"><span>Google maps - GeoPozicija</span></a>
                <a class="btn btn-success btn-block" href=@("https://maps.google.com?q=" + Model.OSOBA.ULICA.Replace(" ", "+") + "+" + Model.OSOBA.MJESTO.Replace(" ", "+")) target="_blank"><span>Google maps - Adresa</span></a>
                <a class="btn btn-success btn-block" href=@("https://maps.google.com?saddr=Current+Location&daddr=" + Model.OSOBA.ULICA.Replace(" ", "+") + "+" + Model.OSOBA.MJESTO.Replace(" ", "+") + "+Hrvatska") target="_blank"><span>Google maps - Ruta</span></a>
                <br>
                <br>
                <br>
            </div>
        </div>
        <hr />
        <br>
        <br>
    </dl>
</div>



@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_POSAO }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
