﻿@model IEnumerable<EHOKU.Controllers.POSAO>
@using EHOKU.Models;

@{
    ViewBag.Title = "Index";
}

<br>
<br>
<br>
<br>
<br>
<p>
    @if (Osoba.Currentuser.ROLA == Convert.ToString(2))
    {
        <button class="btn btn-default btn-lg btn-block center-block" onclick="create()">Objava novog posla</button>
    }
</p>
<br>
@using (Html.BeginForm())
{
    <p>
        <div class="input-group">
            <div class="col-lg-6">
                @Html.DropDownList("ID_STATUS_POSLA", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "Filtriranje posla po statusu")
            </div>
            <div class="col-lg-6">
                @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control", placeholder = "Ptretraživanje posla po opisa" })
            </div>
                <span class="input-group-btn">
                    <input type="submit" value="Pretraži" class="btn btn-default" />
                </span>    
        </div>
    </p>
}
<br>
<br>

<div class="container-fluid">
    <div class="row">
@foreach (var item in Model)
{
    @*<div class="well">*@
        <div class="list-group">
            <a class="list-group-item">
            @*<a href="#" class="list-group-item">*@
                <div class="media col-md-3" style="margin-top: 50px;">
                    <figure class="center-block">

                        @if (item.ID_TIP_POSLA == 1)
                        {
                            <img class="media-object img-rounded img-responsive center-block" src=~/Content/Images/uredivanje.png height="100" width="100" alt="placehold.it/350x250">
                        }
                        else if (item.ID_TIP_POSLA == 2)
                        {
                            <img class="media-object img-rounded img-responsive center-block" src=~/Content/Images/odrzavanje.png height="100" width="100" alt="placehold.it/350x250">
                        }
                        else if (item.ID_TIP_POSLA == 3)
                        {
                            <img class="media-object img-rounded img-responsive center-block" src=~/Content/Images/projektiranje.png height="100" width="100" alt="placehold.it/350x250">
                        }
                        else
                        {
                            <img class="media-object img-rounded img-responsive center-block" src=~/Content/Images/flower.png height="100" width="100" alt="placehold.it/350x250">
                        }

                    </figure>
                </div>
                <div class="col-md-6">
                    <h2 class="list-group-item-heading"> @Html.DisplayFor(modelItem => item.TIP_POSLA.OPIS) </h2>
                    <p class="list-group-item-text">
                        <h3>@Html.DisplayFor(modelItem => item.STATUS_POSLA.NAPOMENA)</h3>
                    </p>
                    <p class="list-group-item-text">
                        <h4>Klijent: @Html.DisplayFor(modelItem => item.OSOBA.IME) @Html.DisplayFor(modelItem => item.OSOBA.PREZIME)</h4>
                    </p>
                    @*<p class="list-group-item-text">
                            <h4>Voditelj posla: @Html.DisplayFor(modelItem => item.OSOBA1.IME) @Html.DisplayFor(modelItem => item.OSOBA1.PREZIME)</h4>
                        </p>
                        <p class="list-group-item-text">
                            <h4>Radnik: @Html.DisplayFor(modelItem => item.OSOBA2.IME) @Html.DisplayFor(modelItem => item.OSOBA2.PREZIME)</h4>
                        </p>*@
                    <p class="list-group-item-text">
                        <h4>Opis posla: @Html.DisplayFor(modelItem => item.OPIS_POSLA)</h4>
                        @*@if (item.ID_TIP_POSLA == 1)
                            {
                            <p>This is previledge customer</p>
                            }
                            else
                            {
                                <p>This is normal customer</p>
                            }*@
                    </p>
                    <p class="list-group-item-text">
                        Datum objave: @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.DATUM_OBJAVE)), Rok izvedbe: @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.ROK_IZVEDBE))
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> @Html.DisplayFor(modelItem => item.IZNOS) <small> kuna </small></h2>
                    
                    @if (item.ID_STATUS_POSLA == 1)
                    {
                        if (Osoba.Currentuser.ROLA == Convert.ToString(3) || Osoba.Currentuser.ROLA == Convert.ToString(4))
                        {
                            <form method="get" action="@Url.Action("PrihvatioPosao", "Posao", new { id = item.ID_POSAO })">
                                <input class="btn btn-success btn-lg btn-block" type="submit" value="PRIHVATI POSAO" />
                            </form>
                            @*<form method="post" action="@Url.Action("PrihvatioPosao", "Posao", new { id = item.ID_POSAO })">
                                <input type="submit" value="PRIHVATI POSAO" class="btn btn-success btn-lg btn-block" />
                            </form>*@
                        }
                        else if (Osoba.Currentuser.ROLA == Convert.ToString(2) || Osoba.Currentuser.ROLA == Convert.ToString(1))
                        {
                            <button type="button" class="btn btn-success btn-lg btn-block">IZMIJENI POSAO</button>
                        }
                    }
                    else if (item.ID_STATUS_POSLA == 2)
                    {
                        if (Osoba.Currentuser.ROLA == Convert.ToString(3) || Osoba.Currentuser.ROLA == Convert.ToString(4))
                        {
                            <button class="btn btn-success btn-lg btn-block" onclick=@string.Format("zavrsi({0})", item.ID_POSAO)>ZAVRŠI POSAO</button>
                        }
                        else if (Osoba.Currentuser.ROLA == Convert.ToString(2) || Osoba.Currentuser.ROLA == Convert.ToString(1))
                        {
                            <button type="button" class="btn btn-success btn-lg btn-block disabled">IZMIJENI POSAO</button>
                        }

                    }
                    else if (item.ID_STATUS_POSLA == 3)
                    {
                        if (Osoba.Currentuser.ROLA == Convert.ToString(3) || Osoba.Currentuser.ROLA == Convert.ToString(4))
                        {
                            <button class="btn btn-success btn-lg btn-block disabled">POSAO JE ZAVRŠEN</button>
                        }
                        else if (Osoba.Currentuser.ROLA == Convert.ToString(2) && item.OCJENA_OBJAVLJENOG_POSLA == null || Osoba.Currentuser.ROLA == Convert.ToString(1) && item.OCJENA_OBJAVLJENOG_POSLA == null)
                        {
                            <button class="btn btn-success btn-lg btn-block" onclick=@string.Format("OcijeniPosao({0})", item.ID_POSAO)>OCIJENI POSAO</button>
                        }
                        @*else if(item.OCJENA_OBJAVLJENOG_POSLA != null)
                        {
                            @item.OCJENA_OBJAVLJENOG_POSLA
                        }*@
                    }

                    else
                    {
                        <button type="button" class="btn btn-default btn-lg btn-block disabled">Prihvati posao</button>
                    }

                    <button class="btn btn-default btn-lg btn-block" onclick=@string.Format("details({0})", item.ID_POSAO)>DETALJI POSLA</button>
                    @if (item.ID_STATUS_POSLA == 3 && item.OCJENA_OBJAVLJENOG_POSLA != null)
                    {
                        <div class="stars">
                            @if (item.OCJENA_OBJAVLJENOG_POSLA == 1)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }
                            else if (item.OCJENA_OBJAVLJENOG_POSLA == 2)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }
                            else if (item.OCJENA_OBJAVLJENOG_POSLA == 3)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }
                            else if (item.OCJENA_OBJAVLJENOG_POSLA == 4)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            }
                            else if (item.OCJENA_OBJAVLJENOG_POSLA == 5)
                            {
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="stars">
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    }

                        @*<p> Average 3.9 <small> / </small> 5 </p>*@
                    </div>
            </a>
        </div>
    @*</div>*@
}
    </div>
</div>



<script>
    function create() {


        $.ajax({

            url: '/Posao/Create' ,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }



    function edit(id) {


        $.ajax({

            url: '/Posao/Edit/' + id,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }

    function zavrsi(id) {


        $.ajax({

            url: '/Posao/ZavrsiPosao/' + id,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }

    function OcijeniPosao(id) {


        $.ajax({

            url: '/Posao/OcijeniPosao/' + id,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }



    function del(id) {


        $.ajax({

            url: '/Posao/Delete/' + id,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }

    function details(id) {


        $.ajax({

            url: '/Posao/Details/' + id,

            success: function (data) {

                $('#modalWrapper').html(data);
                $('#myModal').modal({ backdrop: 'static' });
            }
        });
    }
</script>


<!-- Modal -->
<div id="myModal" class="modal fade" role="form">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Posao</h4>
            </div>
            <div class="modal-body">

                @*@{Html.RenderAction("Create", "VrstaSpisa");}*@
                <div id="modalWrapper"></div>

            </div>

            @*<div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div> proba
                </div>*@
        </div>

    </div>
</div>


<button onclick="topFunction()" id="myBtn" title="Go to top">Vrati se</button>

<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>




<br>
<br>
<center>
    <strong>Powered by <a href="http://www.google.com" target="_blank">eHO-KU, kortikultura</a></strong>
</center>
<br>
<br>

<style>
.list-group-item:hover {
  /*border: 3px solid #36d7ac;*/
  border: 3px solid #23b04b;
}

a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:12px auto 1px;    
}

a.list-group-item {
    height: auto;
    min-height: 220px;
    max-width: 1140px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}


       /*TOP PAGE BUTTON*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

input, select, textarea {
    max-width: 500px;
}

</style>