﻿@model EHOKU.Controllers.POSAO

@{
    ViewBag.Title = "OcijeniPosao";
    Layout = null;
}
@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "1",
        Value = "1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "2",
        Value = "2"
    });
    listItems.Add(new SelectListItem
    {
        Text = "3",
        Value = "3"
    });
    listItems.Add(new SelectListItem
    {
        Text = "4",
        Value = "4"
    });
    listItems.Add(new SelectListItem
    {
        Text = "5",
        Value = "5"
    });
}
<style>
select_lista {
    width: 250px;
}
</style>





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_POSAO)


            <h4 align="center" >Napomena radnika o završenom poslu</h4> 
        <div class="col-lg-12">
            @Html.DisplayFor(model => model.NAPOMENA)
         </div>
        <br>
        <hr />

            <div class="form-group">
                <div class="col-lg-6 col-lg-offset-3">
                    @*@Html.EditorFor(model => model.OCJENA_OBJAVLJENOG_POSLA, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownListFor(model => model.OCJENA_OBJAVLJENOG_POSLA, listItems, "Odaberite ocjenu za posao", new { style = "width: 270px;" })
                    @Html.ValidationMessageFor(model => model.OCJENA_OBJAVLJENOG_POSLA, "", new { @class = "text-danger" })
                </div>
            </div>

            
            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <br>
                    <input type="submit" value="Ocijeni posao" class="btn btn-success btn-block" />
                </div>
            </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
