﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eHO-KU</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/knockout-2.0.0.js"></script>
    
    <script src="~/Scripts/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>


    @using EHOKU.Models;
</head>
<body>

    <style>
        .navbar-default {
    background-color: #fff;
    border-color: #279f10;
    padding: 0px !important;
    margin-bottom: 0px !important;
}
        .navbar .navbar-default{
    padding: 0px !important;
    margin-bottom: 0px !important;
}
.navbar-opacity {
    opacity: 0.85; /* opacity [0-1] */
    -moz-opacity: 0.5; /* opacity [0-1] */
    -webkit-opacity: 0.5; /* opacity [0-1] */
}


 

    </style>

    <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                        <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
                        <img style="max-width:40px; margin-top: -7px;"
                             src="~/Content/Images/flower.png">
                    </a>
                    @Html.ActionLink("eHO-KU", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("O nama", "About", "Home")</li>
                        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>

                        @{
                            if (Osoba.Currentuser != null)
                            {
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">@Osoba.Currentuser.IME<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Korisnički podaci", "Index", "Home")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                            </ul>
                        </li>
                                }
                            }

                        @if (Osoba.Currentuser == null)
                        {
                            <li>
                            @*@Html.ActionLink("Login", "Login", "Home", new { onclick = "Login();" })
                            @Html.ActionLink("Login", "Login", new { onclick = "Login();" })*@
                            <a onclick="Login()">Login</a>
                            </li>
                        }
                    </ul>

                    <ul class="nav navbar-nav">                                             
                        <li>@Html.ActionLink("Posao", "Index", "Posao")</li>
                        
                        @if (Osoba.Currentuser.ROLA == Convert.ToString(2))
                        {
                        <li>@Html.ActionLink("Osoba", "Index", "Osoba")</li>
                        }
                        else if (Osoba.Currentuser.ROLA == Convert.ToString(1))
                        {
                                <li class="dropdown">
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Matični podaci <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Dozvola", "Index", "Rola")</li>
                                            <li>@Html.ActionLink("Status posla", "Index", "STATUS_POSLA")</li>
                                            <li class="divider"></li>
                                            <li>@Html.ActionLink("Osoba", "Index", "Osoba")</li>
                                    </ul>
                                </li>
                        }
                        else if (Osoba.Currentuser == null)
                        {
                            Session.Abandon();
                            Response.Redirect("~/HomeController/Login");
                        }
                    </ul>
                </div>
            </div>


    </div>
    @*<img class="sub-banner" alt="" src="~/Content/Images/grass.png" />*@
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        
        <footer>
                <p>eHO-KU, Hortikultura &copy; @DateTime.Now.Year</p>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>


</html>

